
<!------ Include the above in your HEAD tag ---------->
<body>
  

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="./assets/latest.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginform" (ngSubmit)="proceedlogin()" >
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Correo" formControlName="username" autocomplete="off">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña" formControlName="password" autocomplete="off">
      <input type="submit" class="fadeIn fourth" value="INGRESAR">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      
      <button class="button" routerLink=""> Salir
      </button>

    </div>

  </div>
</div>
</body>



 