
<body>
    <div style= "height: 150px;"></div>
    <div class ="contenedorPrincipal" style="height: calc(100vh - 150px);">
        <div class = "ContenedorActividades" style="height: 100%;">
            <div class ="Caja1" style="height: 45%;">
                <div class = "Solicitudes" style = "width: 45%;">
                    <div class = "detalles">
                        <p class = "Titulo">SOLICITUDES</p>
                        <div class="Imagen">
                            <img src="./assets/Solicitud.png" id="icon" alt="User Icon" />
                        </div>
                    </div>
                    
                    <button class="Boton">Ir</button>
                </div>
                <div class = "Usuarios" style = "width: 45%;" >
                    <div class = "detalles">
                        <p class = "Titulo">USUARIOS</p>
                        <div class="Imagen">
                            <img src="./assets/Usuario.png" id="icon" alt="User Icon" />
                        </div>
                    </div>
                    
                    <button class="Boton" routerLink="/trabajadores" >Ir</button>
                </div>
            </div>
            <div class = "Caja2" style="height: 45%;">
                <div class = "Tareas" style="width: 45%;">
                    <div class = "detalles">
                        <p class = "Titulo">TAREAS</p>
                        <div class="Imagen">
                            <img src="./assets/Tareas.png" id="icon" alt="User Icon" />
                        </div>
                    </div>
                    
                    <button class="Boton" >Ir</button>
                </div>
                <div class = "PlaceHolder" style="width: 45%;">
                    <div class = "detalles">
                        <p class = "Titulo">EDITAR USUARIO</p>
                        <div class="Imagen">
                            <img src="./assets/Editar.png" id="icon" alt="User Icon" />
                        </div>
                    </div>
                    
                    <button class="Boton">Ir</button>
                </div>
            </div>
        </div>
    </div>
    
        
       
</body>

