@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2056%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient2057)'%3e%3c/rect%3e%3cpath d='M1920 0L1847.31 0L1920 255.24z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1847.31 0L1920 255.24L1920 606.73L893.8199999999999 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M893.8199999999999 0L1920 606.73L1920 873.69L367.51 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M367.51 0L1920 873.69L1920 904.9200000000001L185.12 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1080L644.63 1080L0 917.79z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 917.79L644.63 1080L1335.6599999999999 1080L0 699.22z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 699.22L1335.6599999999999 1080L1421.4099999999999 1080L0 330.74z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 330.74L1421.4099999999999 1080L1717.4999999999998 1080L0 285.42z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2056'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2057'%3e%3cstop stop-color='rgba(170%2c 234%2c 158%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(116%2c 230%2c 94%2c 1)' offset='0.59'%3e%3c/stop%3e%3cstop stop-color='rgba(55%2c 179%2c 30%2c 1)' offset='0.93'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    width: 80%;
    height: 254px;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

.ContenedorActividades{
    padding: 5%;
    margin: 0% 5% 0% 5%;
      
}
.Caja1 {
    justify-content: space-between;
    display: flex;
    gap: 5% 5% 5% 5%;


}
 /* Generales */
.detalles {
    color: black;
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
   
   }
.Imagen img{
    --size: 90px;
    width: var(--size);
    height: var(--size);
}
.Titulo{
    justify-content: center;
    font-size: 100%;
    font-weight: 900;
}
 /* Solicitudes */
.Solicitudes{
    
    height: 100%;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    position: relative;
    padding: 28.8px;
    transition: 0.5s ease-out;
    overflow: visible;
    
}



.Solicitudes .Boton{
    transform: translate(-50%, 125%);
    width: 30%;
    border-radius: 1rem;
    border: none;
    background-color: #326994;
    color: #fff;
    font-size: 100%;
    padding: .80px 16px;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }



.Solicitudes:hover {
    border-style: inset;
    border-color: #123e8f;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    
   }
.Solicitudes:hover .Boton{
    transform: translate(-50%, 50%);
    opacity: 1;
   }



 /* Usuarios */
.Usuarios{
    height: 100%;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    position: relative;
    padding: 28.8px;
    transition: 0.5s ease-out;
    overflow: visible;
}
.Usuarios:hover {
    border-style: inset;
    border-color: #123e8f;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    
   }
.Usuarios:hover .Boton{
    transform: translate(-50%, 50%);
    opacity: 1;
   }
.Usuarios .Boton{
    transform: translate(-50%, 125%);
    width: 30%;
    border-radius: 1rem;
    border: none;
    background-color: #326994;
    color: #fff;
    font-size: 100%;
    padding: .80px 16px;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

 /* Caja2*/
 .Caja2 {
    justify-content: space-between;
    display: flex;
    gap: 5% 5% 5% 5%;
    margin: 5% 0% 0% 0%;

 /* Tareas*/
}
.Tareas{
    
    height: 100%;
    background-image: linear-gradient(to right bottom, #83c683, #8acc85, #91d286, #98d888, #a0de89);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    position: relative;
    padding: 28.8px;
    transition: 0.5s ease-out;
    overflow: visible;
    
}
.Tareas .Boton{
    transform: translate(-50%, 125%);
    width: 30%;
    border-radius: 1rem;
    border: none;
    background-color: #326994;
    color: #fff;
    font-size: 100%;
    padding: .80px 16px;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }

   .Tareas:hover {
    border-style: inset;
    border-color: #123e8f;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    
   }
.Tareas:hover .Boton{
    transform: translate(-50%, 50%);
    opacity: 1;
   }

 /* PlaceHolder*/
.PlaceHolder{
    
    height: 100%;
    background-image: linear-gradient(to right bottom, #83c683, #8acc85, #91d286, #98d888, #a0de89);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    position: relative;
    padding: 28.8px;
    transition: 0.5s ease-out;
    overflow: visible;
    
}
.PlaceHolder .Boton{
    transform: translate(-50%, 125%);
    width: 30%;
    border-radius: 1rem;
    border: none;
    background-color: #326994;
    color: #fff;
    font-size: 100%;
    padding: .80px 16px;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }

   .PlaceHolder:hover {
    border-style: inset;
    border-color: #123e8f;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    
   }
.PlaceHolder:hover .Boton{
    transform: translate(-50%, 50%);
    opacity: 1;
   }