<div style="height: 150px;" class="spacer"></div>

<div class="ContenedorPrincipal" style="height: calc(100vh - 150px); ">

    <div class="ContenedorTareas" style="height: 95%; width: 70%;">
        <div class="Card" style="width: 100%; height: 100%">
        <full-calendar [options]="ListOptions"style="width: 100%; height: 100%"></full-calendar>
    </div>
</div>
   

    <div class="ContenedorCalendario" style="height: 95%; width: 40%;">
        <full-calendar [options]="calendarOptions" style= " height:100%; width: 100%"></full-calendar>
    </div>


</div>