<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="master" style="width: 70vw; height: 50vh; display: flex; justify-content: space-around; align-items: center;">

    <button class="button">
        <mat-icon class="svg-icon">folder_shared</mat-icon>
        <span class="lable">Asignadas</span>
      </button>

      <button class="button" (click)="onClick()">
        <mat-icon class="svg-icon"> add</mat-icon>
        <span class="lable">Nueva</span>
      </button>
</div>
